* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-text-color: #4a4a4a;
    --primary-bg-color:#faf5e5ed;
    --secondary-bg-color: #caa5c6;
    --primary-color: #fff9b3;
    --secondary-color: #be63b5d4;
    --accent-color: #4a4a4a;
    }



body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: 'Montserrat', sans-serif;
}

.background2 {
    background-color: var(--secondary-bg-color);
}

.toggle-bg {
    cursor: pointer;
}

ul {
    list-style: none;
}

header {
    padding: 1rem;
    background-image: url("images/keyboard-header.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a {
    color: var(--secondary-color);
}

#welcome-section {
    flex: 1;
}

#short-about-me {
    width: 20rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
}

#profile-pic {
    width: 15rem;
    border-radius: 100%;
    margin-top: 1rem;
}

#index-main {
    display: flex;
    flex-direction:row;
    gap: 2rem;
    padding: 1rem;
}

#portfolio-projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#cv-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.cv-section {
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    border-radius: 10px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu {
    justify-content: center;
    padding:0;
    gap:15%;
    display: flex;

}

.nav-option {
    background-color: var(--primary-color);
    padding: 2px 10px;
    border: solid 1px var(--accent-color);
    border-radius: 10px;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 1,2rem;
}

nav a, a-visited {
    color: var(--primary-text-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-color);
}

nav .current-page {
    color: var(--secondary-color);
    font-style: italic;
}

.modal-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-overlay.show {
  display: flex;
}

.modal-box {
  background: var(--primary-color);
  max-width: 90%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  font-weight: 600;
}

.modal-close {
  position: absolute;
  right: 12px;
  top: 8px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.pink-modal-box {
    background: rgb(106, 74, 91);
    color: hotpink;
}
.pink-modal-close {
    color: hotpink;
}

footer {
    background-color: var(--primary-color);
    position: fixed;
    font-weight: 600;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

@media print {
    body {
        background: none;
    }
    header, .nav-container, footer {
        display: none;
    }
}